@media screen and (max-width: 1100px) {

    .modal-wrapper {
        .modelalka {
            width: 66vw;
        }
    }

    .one {
        .menu {
            justify-content: center;
        }
    }

    .two {
        width: 90vw;
        margin: auto;
    }

    .three {
        .three__content {
            width: 90vw;
            margin: auto;

            .price {
                .price__info {
                    width: 122px;
                    height: 122px;
                }
            }
        }
    }

    .four {
        width: 90vw;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .one{
        .menu{
            .menu__link {
                font-size: 0.8em;
            }
        } 
    }

    .three{
        .three__content {
            .price {
                .price__info {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
