@media screen and (max-width: 1100px) {
    .one {
        .menu {
            justify-content: center;
        }
    }

    .two {
        width: 90vw;
        margin: auto;
    }

    .three {
        .three__content {
            width: 90vw;
            margin: auto;
        }
    }

    .four {
        width: 90vw;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .one{
        .menu{
            .menu__link {
                font-size: 0.8em;
            }
        } 
    }
}
